/* Mobile Styles (default) */
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background:  #888;
    display: flex;
    flex-direction: column;
    position: relative;
}


/* Tablet Styles */
@media (min-width: 800px) {
    .container {
        width: 500px;
        padding: 20px;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    .container {
        margin-top: 24px;
        width: 800px;
        height: 760px;
        padding: 30px;
    }

}