.todo-counter {
    background-color: #ddd;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.todo-counter h2{
    font-size: 24px;
    color: #888;
}

.todo-counter h2 span {
    color: #080;
    font-weight: bolder;
}